.parent{
    display:flex;
    flex-direction: row;
    width:100;
    flex-wrap: wrap;
    justify-content: center;
    font-size: larger;
}
img{
    width: 200px;
    height:200px;
}
.parent>div{
    width: auto;
    height: 40%;
    border: 2px solid red;
    padding: 2%;
}